USE [Heladeria]
GO
/****** Object:  Table [dbo].[Costos]    Script Date: 30/9/2025 2:19:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Costos](
	[CostoID] [int] IDENTITY(1,1) NOT NULL,
	[LoteID] [int] NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Monto] [decimal](18, 2) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CostoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lotes]    Script Date: 30/9/2025 2:19:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lotes](
	[LoteID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](30) NULL,
	[FechaCreacion] [datetime] NULL,
	[CantidadHelados] [int] NULL,
	[CapitalInicial] [decimal](18, 2) NULL,
	[CostoTotalLote] [decimal](18, 2) NULL,
	[PrecioVentaUnitario] [decimal](18, 2) NULL,
	[VentasTotales] [decimal](18, 2) NULL,
	[HeladosVendidos] [int] NULL,
	[EstadoLote] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PorcentajesGananciaLote]    Script Date: 30/9/2025 2:19:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PorcentajesGananciaLote](
	[PorcentajeLoteID] [int] NOT NULL,
	[LoteID] [int] NULL,
	[SocioID] [int] NULL,
	[Porcentaje] [decimal](5, 2) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PorcentajeLoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Socios]    Script Date: 30/9/2025 2:19:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socios](
	[SocioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Rol] [nvarchar](30) NULL,
	[PorcentajeGanancia] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SocioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransaccionesCapital]    Script Date: 30/9/2025 2:19:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaccionesCapital](
	[TransaccionID] [int] IDENTITY(1,1) NOT NULL,
	[LoteID] [int] NULL,
	[SocioID] [int] NULL,
	[Monto] [decimal](18, 2) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransaccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 30/9/2025 2:19:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaId] [int] IDENTITY(1,1) NOT NULL,
	[LoteId] [int] NOT NULL,
	[FechaVenta] [datetime] NOT NULL DEFAULT (getdate()),
	[CantidadHelados] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[TotalVenta]  AS ([CantidadHelados]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Costos]  WITH CHECK ADD FOREIGN KEY([LoteID])
REFERENCES [dbo].[Lotes] ([LoteID])
GO
ALTER TABLE [dbo].[PorcentajesGananciaLote]  WITH CHECK ADD FOREIGN KEY([LoteID])
REFERENCES [dbo].[Lotes] ([LoteID])
GO
ALTER TABLE [dbo].[PorcentajesGananciaLote]  WITH CHECK ADD FOREIGN KEY([SocioID])
REFERENCES [dbo].[Socios] ([SocioID])
GO
ALTER TABLE [dbo].[TransaccionesCapital]  WITH CHECK ADD FOREIGN KEY([LoteID])
REFERENCES [dbo].[Lotes] ([LoteID])
GO
ALTER TABLE [dbo].[TransaccionesCapital]  WITH CHECK ADD FOREIGN KEY([SocioID])
REFERENCES [dbo].[Socios] ([SocioID])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Lotes] FOREIGN KEY([LoteId])
REFERENCES [dbo].[Lotes] ([LoteID])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Lotes]
GO
